/* Page-specific styling */
#buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: cyan;
    margin-top: 3px;
    width: 150px;
    line-height: 24px;
}

#buttons li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}
 
#buttons li a:hover {
    text-decoration: none;
    color: yellow;
    background-color: red;
}

