/* Page-specific styling */
li {
    float: left;
    list-style: none;
    text-align:left;
    width: 150px;
    color: #FFFFFF;
}

#buttons li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

li a{
    background-color: #2a8dd4;
    height:22px;
    margin:2px;
    padding:2px;   
}
 
li  a:hover {
    text-decoration: none;
    background-color: #91c6f5;
}

